<%= form_tag(admin_import_data_from_csv_import_data_path, method: :post, multipart: true) do %>
  <label for='file'>Upload data from CSV</label> <%= file_field_tag 'file' %>
  <%= submit_tag 'Import Data' %>
<% end %>
